{% import "bootstrap/wtf.html" as wtf %}

{% macro announcement(announcement, link=True, edit_link=False, form_shim=False, smalltext=None) %}

{% if form_shim %} {# Shim the passed form to pretend it's an announcement. #}
  {% set announcement = {
    'title': announcement.title.data,
    'content': announcement.content.data
  }%}
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
        {%- if link and not form_shim %}
          <a href="{{ url_for("announcement_page", announcement_id=announcement.id) }}">
            {{- announcement.title -}}
          </a>
        {%- else %}
          {{- announcement.title -}}
        {%- endif %}
        <small>
          {% if smalltext %}
          {{ smalltext }}
          {% else %}
          by {{ announcement.author.name }}
          on {{ announcement.timestamp.strftime("%B %d, %Y") }}
          {%- if edit_link %}
            <a href="{{ url_for("edit_announcement_page", announcement_id=announcement.id) }}">
              Edit
            </a>
          {%- endif %}
        </small>
        {% endif %} {# if smalltext #}
    </h3>
  </div>
  <div class="panel-body">
    {{ announcement.content | markdown }}
  </div>
</div>

{% endmacro %}

{% macro week(week, answer_form=None, edit_link=False) %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      {{ week.header }}
      {%- if edit_link %}
      <small>
        <a href="{{ url_for("edit_week_page",
                            semester_id=week.semester_id,
                            week_num=week.week_num) }}">
          Edit
        </a>
      </small>
      {%- endif %}
    </h3>
  </div>
  <div class="panel-body">
    <p class="text-primary">
    {{ week.intro | markdown }}
    </p>
    {% if week.assignments|length > 0 %}
    <hr>
    {% with assignment = week.assignments[0] %}
      <h4>{{ assignment.name }}</h4>
      {{ assignment.instructions | markdown }}

      {% if answer_form %}
        {{ wtf.quick_form(answer_form, method="POST",
                          action="",
                          form_type='horizontal',
                          button_map={'submit': 'primary'}) }}
        <p class="text-muted">
        Responses will be submitted to your mentors for grading.
      </p>
      {% endif %}
    {% endwith %}
    {% endif %}

    {% if week.documents|length > 0 %}
    <hr>
    <h4>Documents</h4>
    <p class="text-info">Click on a file to download it.</p>
    <ul class="list-inline">
      {% for document in week.documents %}
      <li>
        <a class="btn btn-info" 
           href="{{ url_for("document_page", document_id=document.id) }}"
           role="button"
           aria-pressed="true">
          {{ document.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="text-muted col-xs-12">No documents to show.</p>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro submission(submission, feedback_link=False, returnto=None) %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Response to {{ submission.assignment.name }}
      <small>
        {{ submission.timestamp.strftime("%B %d, %Y") }}
        {% if feedback_link %}
        <a href="{{ url_for("feedback_page",
                            submission_id=submission.id,
                            returnto=returnto) }}">
          Give Feedback
        </a>
        {% endif %}
      </small>
    </h3>
  </div>
  <div class="panel-body">
    <p>{{submission.assignment.instructions }}</p>
    <blockquote>
      {{submission.text}}
      <footer>{{submission.author.name}}</footer>
    </blockquote>

    {% if submission.all_feedback %}
    <hr>
    <h4>Feedback</h4>
    {% for feedback in submission.all_feedback %}
    <blockquote>
      {{ feedback.text }}
      <footer>{{feedback.author.name}}</footer>
    </blockquote>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro breadcrumbs(crumbs, current) %}
<ul class="breadcrumb">
  {% for text, link in crumbs %}
    <li><a href="{{link}}">{{text}}</a></li>
  {% endfor %}
  <li class="active">{{current}}</li>
</ul>
{% endmacro %}
