{# List of message categories to turn into text and `alert-*` levels. #}
{% set alert_levels = {
  'message': ('Info',    'info'),
  'info':    ('Info',    'info'),
  'success': ('Success', 'success'),
  'warning': ('Warning', 'warning'),
  'error':   ('Error',   'danger'),
  'danger':  ('Danger',  'danger'),
  }
%}

{%- macro alert(flask_alert) %}
{%- with category, message = flask_alert %}
{%- with text_header, level = alert_levels[category] %}
<div class="alert alert-{{ level }} alert-dismissable fade in">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{ text_header }}!</strong>
  {{ message -}}
</div>
{%- endwith -%}
{%- endwith -%}
{%- endmacro %}
