{% extends "theme.html" %}

{% block head %}
{{ super() }}
<title>College JUMP calendar demo </title>
{% endblock %}

{% block content %}
{{ super() }}
<h1>  Hello, world!</h2>
</h1> This is the College JUMP user profile page. </h1>

Here you can view and edit your account details!

<br>
 Name:
<small id="None" class="form-text text-muted">
    John Doe
</small>

 <div class="form-group">
    <label for="exampleInputEmail1">Change Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
  </div>
<button type="submit" class="btn btn-primary">Submit</button>

<br>
<br>
<br>

 Email Address:
<small id="None" class="form-text text-muted">
    JohnDoe1@gmail.com
</small>

 <div class="form-group">
    <label for="exampleInputEmail1">Change Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
  </div>
<button type="submit" class="btn btn-primary">Submit</button>

<br>
<br>
<br>

 Password:
<small id="None" class="form-text text-muted">
    SzechuanSauce3
</small>

 <div class="form-group">
    <label for="exampleInputEmail1">Change Password</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Password">
  </div>
<button type="submit" class="btn btn-primary">Submit</button>

<br>
<br>
<br>

 Mentor:
<small id="None" class="form-text text-muted">
    Rick
</small>

<br>
<br>
<br>



{% endblock %}
