{% extends "theme.html" %}

{% block head %}
{{ super() }}
<title>Announcement</title>
{% endblock %}

{% block content %}
 {% if current_user.admin==True or current_user.id==user.id %}
<div class="form-group">
  {{ user.name }}
  <br>
  <br>                       
  <form method="POST" action="{{ url_for("account_settings_page",user_id=user.id, user=user) }}">
  {{ form.csrf_token }}
  <div>
    {{ form.name.label }} {{ form.name(class_="form-control",  value= user.name) }}
  </div>
  <div>
    {{ form.email.label }} {{ form.email(class_="form-control", value=user.email) }}
  </div>
  <div>
    {{ form.password.label }} {{ form.password(class_="form-control", value=user.password) }}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <input type=hidden value="{{ redirectto or '' }}" name=redirectto>
</form>
 <br>
 <br>

  <form method="POST" action="{{ url_for("account_settings_page",user_id=user.id, user=user) }}">
  {{ deleteForm.csrf_token }}
  <div>
    {{ deleteForm.delete.label }} {{ deleteForm.delete(class_="form-control") }}
  </div>
   <button type="submit" class="btn btn-danger">Delete {{user.name}} </button>
  <input type=hidden value="{{ redirectto or '' }}" name=redirectto>
</form> 


</div>
{% endif %}
{% endblock %}