{% extends "theme.html" %}

{% block title %}Announcements{% endblock %}

{% block content %}

<div class="list-group">
  {% for announcement in announcements %}
    <a href="{{ url_for("announcement_page", announcement_id=announcement.id) }}"
       class="list-group-item">
      {{ announcement.title }}
  </a>
  {% else %}
    <p class="text-muted">
    No announcements to show.
    {%- if current_user.admin %}
      <a href="{{ url_for("edit_announcement_page") }}">Write one?</a>
    {%- endif %}
    </p>
  {% endfor %}
</div>

{% endblock %}
