<!--{% if current_user.is_authenticated %}-->
{% extends "theme.html" %}

{% block head %}
{{ super() }}
<title>College JUMP calendar demo </title>
{% endblock %}

{% block content %}
{{ super() }}
<h1>  Hello, world!</h2>
</h1> This is the College JUMP Announcements Creation/Edit Page </h2>

<form>
  <div class="form-group">
    <label for="GradeExplanation">Content entered here will appear on users'
    front pages as seen below.
    </label>
    <textarea class="form-control" id="GradeExplanation" rows="3">


Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Donec venenatis sem nec ligula mattis, vitae sodales neque volutpat.
 Aenean scelerisque non ipsum eget auctor.
 Curabitur vehicula purus lacus, sit amet laoreet eros tempus vitae.
 Morbi luctus molestie maximus. Cras commodo volutpat egestas.
 Proin aliquam, lorem sed vehicula pulvinar, justo metus porta est, a mattis nisi metus nec enim.
 Vestibulum molestie pellentesque nibh, eget congue mauris bibendum non.
 Vestibulum ligula purus, mattis id libero ac, tincidunt volutpat turpis.



Vivamus lacinia ullamcorper metus in ultrices.
Nunc facilisis arcu pretium nunc lobortis eleifend.
 Suspendisse luctus, nulla sit amet efficitur porta, purus erat placerat erat, vel varius est nisl vel diam.
 Proin mollis tellus felis, venenatis volutpat magna lobortis ac.
 Nulla leo risus, posuere eu risus at, sollicitudin egestas leo.
 Mauris maximus bibendum erat id feugiat.
 Vivamus nec fermentum arcu, eget vestibulum nisi.
 Nulla aliquet, est ut maximus semper, justo felis malesuada urna, a ullamcorper metus sem et nibh.
 Sed eu mattis augue, nec sagittis felis. Praesent posuere diam ac sem blandit, auctor euismod orci sollicitudin.
 Donec risus tellus, consequat ac massa ut, cursus dapibus arcu.
 Duis gravida, nisl nec placerat pharetra, urna tortor ultrices arcu, ut dictum massa urna quis metus.
 Fusce a nisl vel dui vestibulum porttitor tempor non purus. Curabitur molestie elit pretium tellus vestibulum malesuada.
 Morbi pulvinar tempor augue ut malesuada. Integer vel nisi sollicitudin, volutpat erat et, tristique massa.




Fusce in pretium nibh. Aenean in ligula fermentum, posuere ligula a, rutrum enim.
Aenean quis sem nec diam interdum sodales vitae at metus.
Donec eget neque vitae mauris iaculis imperdiet quis quis velit.
Donec mollis nibh eu lorem cursus rutrum. Proin pharetra sagittis diam ac lacinia.
 Fusce vitae aliquam est. Quisque porta ornare tempus. Fusce egestas in tortor hendrerit condimentum.
 Vivamus aliquam justo quis leo dignissim, eget ultricies eros gravida.
 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
 Proin enim nisl, blandit ac tellus ac, fringilla scelerisque felis. Nulla eu magna nec erat volutpat cursus.
 Vivamus urna purus, facilisis in tincidunt a, dapibus nec sapien.
 Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    </textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<h1>Preview!</h2>

Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Donec venenatis sem nec ligula mattis, vitae sodales neque volutpat.
 Aenean scelerisque non ipsum eget auctor.
 Curabitur vehicula purus lacus, sit amet laoreet eros tempus vitae.
 Morbi luctus molestie maximus. Cras commodo volutpat egestas.
 Proin aliquam, lorem sed vehicula pulvinar, justo metus porta est, a mattis nisi metus nec enim.
 Vestibulum molestie pellentesque nibh, eget congue mauris bibendum non.
 Vestibulum ligula purus, mattis id libero ac, tincidunt volutpat turpis.

 <br>
 <br>
 <br>
Vivamus lacinia ullamcorper metus in ultrices.
Nunc facilisis arcu pretium nunc lobortis eleifend.
 Suspendisse luctus, nulla sit amet efficitur porta, purus erat placerat erat, vel varius est nisl vel diam.
 Proin mollis tellus felis, venenatis volutpat magna lobortis ac.
 Nulla leo risus, posuere eu risus at, sollicitudin egestas leo.
 Mauris maximus bibendum erat id feugiat.
 Vivamus nec fermentum arcu, eget vestibulum nisi.
 Nulla aliquet, est ut maximus semper, justo felis malesuada urna, a ullamcorper metus sem et nibh.
 Sed eu mattis augue, nec sagittis felis. Praesent posuere diam ac sem blandit, auctor euismod orci sollicitudin.
 Donec risus tellus, consequat ac massa ut, cursus dapibus arcu.
 Duis gravida, nisl nec placerat pharetra, urna tortor ultrices arcu, ut dictum massa urna quis metus.
 Fusce a nisl vel dui vestibulum porttitor tempor non purus. Curabitur molestie elit pretium tellus vestibulum malesuada.
 Morbi pulvinar tempor augue ut malesuada. Integer vel nisi sollicitudin, volutpat erat et, tristique massa.
<br>
<br>
<br>
Fusce in pretium nibh. Aenean in ligula fermentum, posuere ligula a, rutrum enim.
Aenean quis sem nec diam interdum sodales vitae at metus.
Donec eget neque vitae mauris iaculis imperdiet quis quis velit.
Donec mollis nibh eu lorem cursus rutrum. Proin pharetra sagittis diam ac lacinia.
 Fusce vitae aliquam est. Quisque porta ornare tempus. Fusce egestas in tortor hendrerit condimentum.
 Vivamus aliquam justo quis leo dignissim, eget ultricies eros gravida.
 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
 Proin enim nisl, blandit ac tellus ac, fringilla scelerisque felis. Nulla eu magna nec erat volutpat cursus.
 Vivamus urna purus, facilisis in tincidunt a, dapibus nec sapien.
 Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;


{% endblock %}
<!--{% endif %}-->
