{% extends "theme.html" %}

{% block head %}
{{ super() }}
<title>College JUMP calendar demo </title>
{% endblock %}

{% block content %}

<div class="well">
  {% if config["COLLEGEJUMP_GCAL_LINK"] %}
  <div class="text-center">
    <iframe src="{{ config["COLLEGEJUMP_GCAL_LINK"] }}"
            style="border: 0"
            width="800"
            height="600"
            frameborder="0"
            scrolling="no">
    </iframe>
  </div>
  {% else %}
    <p class="text-muted">No calendar configured.</p>
  {% endif %}
</div>

{% endblock %}
