{% extends "theme.html" %}

{% block head %}
{{ super() }}
<title>Announcement</title>
{% endblock %}

{% block content %}
<h1>  Hello, world!</h2>
</h1> This is the College JUMP Announcements Creation/Edit Page </h2>

<form method="POST"
      action="{{ url_for("edit_announcement_page", announcement_id=announcement_id) }}"
      />
  {{ form.csrf_token }}
  <div class="form-group">
    {{ author.name }}
    {{ form.title }} <br/>
    {{ form.content(rows="20", cols="80") }}
  </div>
  {{ form.submit(class="btn btn-primary") }}
  {{ form.preview(class="btn") }}
</form>

{% if form.errors %}
<div>
  {{ form.errors }}
</div>
{% endif %}

{% if form.content.data %}
<h1>Preview</h1>
{{ form.content.data | markdown }}
{% endif %}

{% endblock %}
