{% extends "theme.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit Accounts{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Accounts</h3>
  </div>
  <div class="panel-body">
    {% if users %}
    <div class="list-group">
      {% for user in users %}
      <a class="list-group-item"
         href="{{ url_for("account_settings_page", user_id=user.id) }}">
        {{ user.name }} &lt;{{ user.email }}&gt;
      </a>
      {% endfor %}
    </div>
    {% else %}
    <p class="text-muted">No users to show.</p>
    {% endif %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>New Account</h3>
  </div>
  <div class="panel-body">
    {{ wtf.quick_form(form, method="POST",
                      action=url_for("edit_accounts_page"),
                      form_type='horizontal',
                      button_map={'submit': 'primary', 'delete': 'danger'}) }}
  </div>
</div>

{% endblock %}
