{% extends "theme.html" %}
{% import "_common.html" as common %}

{% block title %}Edit {{ week.header }}{% endblock %}

{% block breadcrumbs %}
{{ common.breadcrumbs([
    ('Syllabus',         url_for('syllabus_page')),
    (week.semester.name, url_for('edit_semester_page', semester_id=week.semester.id))
  ], 'Week ' + week.week_num|string) }}
{% endblock %}

{% block content %}

{{ common.week(week) }}

<div class="panel panel-default">
  <div class="panel-heading">
    Edit Week
  </div>
  <div class="panel-body">
    {{ wtf.quick_form(form, method="POST",
		      action=url_for("edit_week_page",
                                     semester_id=week.semester_id,
                                     week_num=week.week_num),
		      form_type="horizontal",
		      button_map={"submit": "primary", "delete": "danger"}) }}
  </div>
</div>

{% endblock %}
