<!--{% if current_user.is_authenticated %}-->
{% extends "theme.html" %}

{% block head %}
{{ super() }}
<title>College JUMP calendar demo </title>
{% endblock %}

{% block content %}
{{ super() }}
<h1>  Hello, world!</h2>
This is the College JUMP Admin Account Editing Page.
Here you can view and edit your users' account details!

<h2> Add New Account </h2>
<br>

<form method="POST" action="{{ url_for('edit_acct_page') }}">
  {{ form.csrf_token }}
  <div>
    {{ form.name.label }} {{ form.name(class_="form-control", placeholder="Name") }}
  </div>
  <div>
    {{ form.email.label }} {{ form.email(class_="form-control", placeholder="Enter Email") }}
  </div>
  <div>
    {{ form.password.label }} {{ form.password(class_="form-control", placeholder="Password") }}
  </div>
  <div>
    {{ form.admin.label }} {{ form.admin(class_="form-control", placeholder="Admin") }}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <input type=hidden value="{{ redirectto or '' }}" name=redirectto>
</form>
<br>

<h2> Edit Accounts </h2>
<br>


<div class="form-group">
  {% for user in users %}
  {{ user.name }}
  <button type="submit" class="btn btn-primary">Edit User Account</button>
  <button type="submit" class="btn btn-primary">Delete User Account</button>
  <br>

  <small id="None" class="form-text text-muted">
    {{ user.name }}
  </small>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Change Name">
  </div>

  <small id="None" class="form-text text-muted">
    {{ user.email }}
  </small>
  {% endfor %}
</div>

{% endblock %}
<!--{% endif %}-->
