{% extends "theme.html" %}

{% block title %}{{ error.code }} Error{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1>{{ error.code }} {{ error.name }}</h1>

  <p class="text-primary">
  {% if error.code == 500 %}
    This is an issue with the application programming.
    {% if current_user.admin %}
      Please report this issue
      (<span class="highlight">Incident {{ error.incident_number }}</span>)
      to the
      <a href="{{ config['REPOSITORY_ISSUES'] }}" class="btn btn-primary">bug tracker</a>
      and supply this information:
      <pre>
      {{- error.traceback -}}
      </pre>
    {% else %}
      Please contact the site administrators, and ask them to report
      <span class="highlight">Incident {{ error.incident_number }}</span>.
    {% endif %}
  {% else %}
    {{ error.description }}
  {% endif %}
  </p>

</div>

{% endblock %}
