{% extends "theme.html" %}

{% block head %}
{{ super() }}
<title>College JUMP Front page</title>
{% endblock %}

{% block content %}
{{ super() }}

<div>
  <h2>CollegeJUMP</h2>
</div>

{# If this is the first setup, meaning there are no admin users, prompt to enter
   the SETUP key from the logs. This directs to a form to create the first admin.
#}
{%- if config.SETUP_KEY %}
<div class="jumbotron">
  <h1 class="display-2">First Setup</h1>
  <p>
    If this is your first time running the College JUMP website, you will need
    to begin by creating an Admin account. This can be done by entering the
    <code>SETUP_KEY</code> here, which you can find in the console logs on the
    server hosting this site.
  </p>
  <form method="GET" action="{{ url_for('setup_page') }}" class="row">
    <div class="form-group col-xs-12 col-sm-6">
      <input name="key"
             type="text"
             required
             pattern="[a-fA-F0-9]{32}" {# SETUP_KEY is 8 bytes, hex encoded #}
             placeholder="SETUP_KEY"
             class="form-control"/>
    </div>
    <div class="form-group col-xs-12 col-sm-6">
      <input type="submit" class="form-control btn btn-primary"/>
    </div>
  </form>
</div>
{%- endif %}

<h3>Announcements</h3>

<ul>
  {% for announcement in announcements %}
  <li>
    <div>
      <h4>{{ announcement.title }}</h4>
      <h5>{{ announcement.author.name }}</h5>

      {{ announcement.content | markdown}}
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
