{% extends "theme.html" %}
{% import "_common.html" as common %}

{% block title %} College JUMP {% endblock %}

{% block content %}
{{ super() }}

<div>
  <h2>College JUMP</h2>
</div>

{# If this is the first setup, meaning there are no admin users, prompt to enter
   the SETUP key from the logs. This directs to a form to create the first admin.
#}
{%- if setup_form %}
<div class="jumbotron">
  <h1 class="display-2">First Setup</h1>
  <p>
    If this is your first time running the College JUMP website, create an Admin
    account here. To complete this form, you will need the
    <code>SETUP_KEY</code>, which was printed in the console logs on the server
    hosting this site.
  </p>
  {{ wtf.quick_form(setup_form, method="POST",
                    action=url_for("front_page"),
                    form_type="horizontal",
                    button_map={"submit": "primary"}) }}
  </form>
</div>
{%- endif %}

{% for announcement in announcements %}
  {{ common.announcement(announcement, link=True, edit_link=current_user.admin) }}
{% else %} {# If there are no announcements #}
  <p class="text-muted">
  No announcements to show.
  {%- if current_user.admin %}
  <a href="{{ url_for("edit_announcement_page") }}">Write one?</a>
  {%- endif %}
  </p>
{% endfor %}

{% endblock %}
