{% extends "theme.html" %}

{% block head %}
{{ super() }}
<title>Syllabus Overview</title>
{% endblock %}

{% block content %}

<h1>{{ semester.name }}</h1>

<h3>Weeks</h3>
<ol>
  {% for week in semester.weeks %}
  <li>
    <a href="{{ url_for('edit_week_page',
                        semester_id=week.semester_id,
                        week_num=week.week_num) }}">
      {{ week.header }}
    </a>
  </li>
  {% endfor %}
</ol>

<form method="POST" action="{{ url_for("edit_semester_page", semester_id = semester.id) }}">
  {{ form.csrf_token }}
  {{ form.name() }} <br/>
  {{ form.order() }} <br/>
 <div id="hide" style="display:none">
  {{ form.weeks() }} <br/>
 </div>
  {{ form.add_week() }}

  {{ form.submit() }}
</form>

{% if form.errors %}
{{ form.errors }}
{% endif %}

{% endblock %}
