<!DOCTYPE html>
<html>


  <head>
    {% block head %}
    <meta charset="utf-8"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

   <!-- Main Css stylesheet for pages-->
   <link rel="stylesheet"
          href="{{ url_for('static', filename='theme.css') }}" />
          
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
            crossorigin="anonymous"></script>

    {% endblock %}
     </head>

<body>
 <!-- Horizontal Navbar starts-->
  <nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container-fluid">
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('front_page') }}"> <img src="{{ url_for('send_static',path='shriver.jpeg') }}" 
                                        width="50" height="50"  class="img-fluid" alt="Responsive image"> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li><a href="{{ url_for('front_page') }}" >Home</a></li>
              <li><a href="{{ url_for('calendar_page') }}">Calendar</a></li>
              <li><a href="#"><span onclick="openNav()">Assignments</span></a></li>
           </ul>

      
       <form class="nav navbar-nav navbar-right" onclick="closeNav()">
         <ul class="nav navbar-nav">
           <!-- Links for the admin only -->
           {% if current_user.is_authenticated and current_user.admin %}
           <li><a href="{{ url_for('announcements_page') }}">Edit/Create Announcements</a></li>
           <li><a href="{{ url_for('edit_accounts_page') }}">Edit Accounts</a></li>
           {% endif %}
           <!-- -->

           <!-- Links for any authenticated user -->
           {% if current_user.is_authenticated %}
           <li><a href="{{ url_for('account_settings_page') }}">Account Settings</a></li>
           {% endif %}
           <!-- -->

           <!-- Log in/out -->
           <li>
             {% if not current_user.is_authenticated %}
             <a href="{{ url_for('login_page') }}">Log In</a>
             {% else %}
             <a href="{{ url_for('logout_page') }}">Log Out</a>
             {% endif %}
           </li>
           <!-- -->
         </ul>
         <a class="navbar-brand" href="{{ url_for('front_page') }}"> <img src="{{ url_for('send_static',path='cj.jpg') }}"
                                                                          width="50" height="50"  class="img-fluid" alt="Responsive image"> </a>
       </form>
       
       
     </div><!-- /.navbar-collapse -->
     </div><!-- /.container-fluid -->
  </nav>




<!-- SideNav Starts -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {% for n in range(1, 13) %}
    <a href="{{ url_for('week_page', week_number=n) }}">Week {{n}}</a>
    {% endfor %}
</div>
<!-- SideNav Ends -->


<!-- Main Block + Footer Content -->
<div id="main"onclick="closeNav()" >
</div>
       <div class="container" onclick="closeNav()">
        {% block content %}
        {% endblock %}
        </div>
    
    <footer class="footer"  onclick="closeNav()">
        <div class="container">
            <p class="text-muted">
                {% block footer %}
                {{ __version__ }}
                {% endblock %}
            </p>
        </div>
    </footer>


<!-- Main Block + Footer Content -->


<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
}
</script>
</body>
</html> 
