{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{% block metas %}
{{ super() }}
<meta charset="utf-8"/>
{% endblock %}

{% block styles %}
{{ super() }}
<!-- Main Css stylesheet for pages-->
<link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}" />
{% endblock styles %}

{% block body -%}
  {% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
	<button type="button"
		class="navbar-toggle collapsed"
		data-toggle="collapse"
		data-target="#bs-example-navbar-collapse-1"
		aria-expanded="false">
	</button>
    <img src="{{ url_for('send_static',path='shriver.jpeg') }}" width="50" height="50"
      class="d-inline-block align-top"alt="Responsive image" 
       href="{{ url_for('front_page') }}"> </img>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	 <ul class="nav navbar-nav">
     
	  <li><a href="{{ url_for('front_page') }}" >Home</a></li>
	  <li><a href="{{ url_for('calendar_page') }}">Calendar</a></li>
	  <li><a href="{{ url_for('announcement_page') }}">Announcements</a></li>
    
	</ul>


	<div class="nav navbar-nav navbar-right" onclick="closeNav()">
	  <ul class="nav navbar-nav">
	    <!-- Links for the admin only -->
	    {% if current_user.is_authenticated and current_user.admin %}
	    <li><a href="{{ url_for('syllabus_page') }}">Syllabus</a></li>
	    <li><a href="{{ url_for('edit_accounts_page') }}">Edit Accounts</a></li>
	    <li><a href="{{ url_for('edit_announcement_page') }}">New Announcement</a></li>
	    {% endif %}
	    <!-- -->

	    <!-- Links for any authenticated user -->
	    {% if current_user.is_authenticated %}
	    <li><a href="{{ url_for("account_settings_page", user_id=current_user.id) }}">Account Settings</a></li>
	    {% endif %}
	    <!-- -->

	    <!-- Log in/out -->
	    <li>
	      {% if not current_user.is_authenticated %}
	      <a href="{{ url_for('login_page', returnto=request.base_url) }}">Log In</a>
	      {% else %}
	      <a href="{{ url_for('logout_page') }}">Log Out</a>
	      {% endif %}
	    </li>
	    <!-- -->
	  </ul>
	  <img src="{{ url_for('send_static',path='cj.jpg') }}" width="50" height="50"
      class="d-inline-block align-top"alt="Responsive image" 
       href="{{ url_for('front_page') }}"> </img>
	</div>


      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {% endblock navbar %}

  {% block sidenav %}
  <nav id="syllabus-nav">
    <ul class="nav nav-pills nav-stacked">
      {% if current_user.is_authenticated %}
        {% for semester in current_user.semesters %}
           <li><h5>Semester: {{ semester.name }}</h5></li>

          {% for week in semester.weeks %}
          <li>
            <a href="{{ url_for('week_page',
                                semester_id=week.semester_id,
                                week_num=week.week_num) }}">
              Week {{ week.week_num }}: {{ week.header }}
            </a>
          </li>
          {% endfor %}
        {% endfor %}
      {% endif %}
    </ul>
  </nav>
  {% endblock sidenav %}

  {% block maincontainer %}
  <div class="container">
    {% block breadcrumbs %}{% endblock %}
    {% block messages %}
    {{ utils.flashed_messages(dismissible=True) }}
    {% endblock messages %}
    {% block content -%}
    {%- endblock content %}
  </div>
  {% endblock maincontainer %}

  <footer class="footer">
    <div class="container">
      {% block footer %}
      <div class="text-muted">
        <a href="https://github.com/UMBC-CMSC447-Spring2017-Team5/college-JUMP">
          {{ config.VERSION }}
        </a>
      </div>
      {% endblock %}
    </div>
  </footer>

{%- endblock body %}

