{% extends "theme.html" %}

{% block head %}
{{ super() }}
<title>College JUMP Assignment 1 </title>
{% endblock %}

{% block content %}
{{ super() }}
<button type="submit" class="btn btn-primary">Edit Assignment </button>

<h1>  Hello, world!</h2>
</h2> This is a demo assignment template, generated for Week {{week_number}} </h2>

<form>
  <div class="form-group">
    <label for="Assignment1">What grade would you like in CMSC 447?</label>
    <select class="form-control" id="Assignment1">
      <option>A</option>
      <option>B</option>
      <option>C</option>
      <option>D</option>
      <option>F</option>
      <option>Pass</option>
      <option>Fail</option>
      <option>I just want my degree!</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</form>


<form>
  <div class="form-group">
    <label for="GradeExplanation">Please respond in 200 words or more to the following prompt:
      <p> Why do you deserve the grade indicated in Assignment 1?
    </label>
    <textarea class="form-control" id="GradeExplanation" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form>
  <div class="form-group">
    <label for="exampleInputFile">Upload your third assignment!</label>
    <input type="file" class="form-control-file"  aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">
      Reminder: Jif gifs should be uploaded in .gif format. Give the gift of gif!
    </small>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<<fieldset class="form-group">
  <legend>Please indicate your academic stress level</legend>

  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="fine" id="fine"  value="fine" disabled>
      I'm fine
    </label>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="fine" id="fine2"  value="fine2" checked>
      Yeah no, I'm fin&mdash;wait we have a test when!?
    </label>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="fine" id="fine3" value="fine3">
      I just want my degree,, like is that too much to ask?
    </label>
  </div>


</fieldset>
<button type="submit" class="btn btn-primary">Submit</button>
</form>

<form>
  <small id="None" class="form-text text-muted">
    You may select multiple answers
  </small>

  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Something
    </label>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Something  Something
    </label>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Something Something Something
    </label>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Something  Something  Something  Something Something Something
      Something Something Something Something Something Something
      Something Something Something Something Something Something
      Something Something Something Something
      Something Something Something Something Something Something
      The following statement is True:This statement is False
      Something Something Something Something Something Something
      Something  Something
      Something Something Something Something
      Something Something Something Something
      Something Something Something Something Something Something
      Something Something Something Something Something Something
      Something Something Something Something Something Something
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
