{% extends "theme.html" %}
{% import "_common.html" as common %}

{% block title %}{{ week.header }}{% endblock %}

{% block content %}

{{ common.week(week, answer_form, edit_link=current_user.admin) }}

{% for submission in submissions %}
{{ common.submission(submission) }}
{% endfor %}

{% for submission in current_user.submissions_for_feedback(week.assignments[0]) %}
{{ common.submission(submission,
                     feedback_link=True,
                     returnto=url_for("week_page",
                                      semester_id=week.semester_id,
                                      week_num=week.week_num)) }}
{% endfor %}

{% endblock %}
